.gagiBg {
  position: absolute;
  height: 26.85%;
  width: 100%;
  top: 73.15%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #090c35;
}
.saveYourTime {
  letter-spacing: 0.65px;
}
.saveYourTimeContainer {
  position: absolute;
  height: 30.28%;
  width: 100%;
  top: 69.72%;
  left: 0;
  display: inline-block;
}
.growth {
  position: absolute;
  top: calc(50% - 36.88px);
  left: 4.46%;
  font-size: 36px;
  letter-spacing: 1.5px;
  color: #c2c2c2;
}
.underline03 {
  position: absolute;
  height: 6.78%;
  width: 3.07%;
  top: 38.45%;
  right: 96.79%;
  bottom: 54.77%;
  left: 0.14%;
  border-radius: 2.5px;
  background-color: #fff;
}
.div {
  position: absolute;
  top: calc(50% - 30.88px);
  left: 0;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #8f6be8;
}
.growthFrame {
  position: absolute;
  top: 803px;
  left: 323px;
  width: 717px;
  height: 73.76px;
  color: #fff;
}
.workWithRecruiterContainer {
  position: absolute;
  height: 31.34%;
  width: 100%;
  top: 68.66%;
  left: 0;
  line-height: 28px;
  display: inline-block;
}
.collaboration {
  position: absolute;
  top: calc(50% - 43.38px);
  left: 4.46%;
  font-size: 36px;
  letter-spacing: 1.5px;
  color: #c2c2c2;
}
.underline02 {
  position: absolute;
  height: 5.6%;
  width: 3.07%;
  top: 31.73%;
  right: 96.79%;
  bottom: 62.68%;
  left: 0.14%;
  border-radius: 2.5px;
  background-color: #603ebe;
}
.div1 {
  position: absolute;
  top: calc(50% - 38.38px);
  left: 0;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.collaborationFrame {
  position: absolute;
  top: 523px;
  left: 322px;
  width: 717px;
  height: 86.75px;
}
.connectWithTalente {
  position: absolute;
  height: 44.97%;
  width: 100%;
  top: 55.03%;
  left: 0;
  line-height: 28px;
  display: inline-block;
}
.connection {
  position: absolute;
  top: calc(50% - 60.46px);
  left: 5.6%;
  font-size: 36px;
  letter-spacing: 1.5px;
  color: #c2c2c2;
}
.underline01 {
  position: absolute;
  height: 4.02%;
  width: 3.85%;
  top: 28.53%;
  right: 95.97%;
  bottom: 67.45%;
  left: 0.18%;
  border-radius: 2.5px;
  background-color: #603ebe;
}
.span {
  letter-spacing: 1.5px;
}
.div2 {
  position: absolute;
  top: calc(50% - 55.46px);
  left: 0;
  font-size: 18px;
}
.connectionFrame {
  position: absolute;
  top: 283px;
  left: 322px;
  width: 571px;
  height: 120.91px;
}
.players {
  position: absolute;
  top: calc(50% - 374.5px);
  left: 16.72%;
  font-size: 90px;
  color: #e7e7e7;
}
.player,
.playerChild {
  position: absolute;
  overflow: hidden;
}
.playerChild {
  height: 81.66%;
  width: 51.61%;
  top: 0;
  right: 6.51%;
  bottom: 18.34%;
  left: 41.88%;
  max-width: 100%;
  max-height: 100%;
}
.player {
  top: 898px;
  left: 0;
  width: 1920px;
  height: 969px;
}
.purpleBg,
.resourcesAndTools {
  position: absolute;
  width: 100%;
  left: 0;
}
.purpleBg {
  height: 33.63%;
  top: 66.37%;
  right: 0;
  bottom: 0;
  background-color: #5e3db3;
}
.resourcesAndTools {
  top: 52.94%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.93px;
  display: inline-block;
}
.growth1 {
  width: 159px;
  height: 42px;
  position: absolute;
  top: calc(50% - 59.5px);
  left: 4.46%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.5px;
  color: #c2c2c2;
}
.div3,
.underline031 {
  position: absolute;
  left: 0.14%;
}
.underline031 {
  height: 5px;
  width: 22px;
  top: 26.05%;
  right: 96.79%;
  bottom: 69.75%;
  border-radius: 2.5px;
  background-color: #fff;
}
.div3 {
  top: 5.04%;
  width: 22px;
  height: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.5px;
  color: #000000;
}
.growthFrame1 {
  position: absolute;
  top: 681px;
  left: 1008px;
  width: 717px;
  height: 119px;
  color: #fff;
}
.workWithOther {
  position: absolute;
  width: 100%;
  top: 42.86%;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.93px;
  display: inline-block;
}
.collaboration1 {
  position: absolute;
  top: calc(50% - 73.5px);
  left: 4.46%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.5px;
  color: #c2c2c2;
}
.underline021 {
  position: absolute;
  height: 3.4%;
  width: 3.07%;
  top: 20.41%;
  right: 96.79%;
  bottom: 76.19%;
  left: 0.14%;
  border-radius: 2.5px;
  background-color: #603ebe;
}
.div4 {
  position: absolute;
  width: 22px;
  height: 21px;
  top: 3.4%;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.5px;
}
.collaborationFrame1 {
  position: absolute;
  top: 398px;
  left: 1008px;
  width: 717px;
  height: 147px;
}
.connectWithCoaches {
  position: absolute;
  top: calc(50% + 22.5px);
  width: 601px;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.connection1 {
  position: absolute;
  top: calc(50% - 50.5px);
  width: 239px;
  height: 42px;
  left: 5.32%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.5px;
  color: #c2c2c2;
}
.underline011 {
  position: absolute;
  height: 5px;
  width: 19px;
  top: 29.7%;
  right: 96.67%;
  bottom: 88.06%;
  left: 0.17%;
  border-radius: 2.5px;
  background-color: #603ebe;
}
.div5 {
  position: absolute;
  top: 4.95%;
  left: 0;
  width: 22px;
  height: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.5px;
}
.connectionFrame1 {
  position: absolute;
  top: 188px;
  left: 1008px;
  width: 601px;
  height: 101px;
}
.athlets1 {
  position: absolute;
  height: 105px;
  left: 52.5%;
  right: 27.81%;
  top: 24px;
  width: 378px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 105.47px;
  color: #E7E7E7;
}
.athlets {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 898px;
  overflow: hidden;
}
.footballer1Icon {
  position: absolute;
  top: 35px;
  left: 175px;
  width: 678px;
  height: 950px;
  object-fit: cover;
}
.desktop {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1867px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
}
