.global{
    font-family: 'Roboto';
    font-style: normal;
}

.athlets {
    position: absolute;
    width: 378px;
    height: 105px;
    left: 52.5%;
    right: 27.81%;
    top: 24px;
    width: 378px;
    font-weight: 400;
    font-size: 90px;
    line-height: 105px;
    color: #E7E7E7;
}

.topic01_athlets {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 52.55%;
    right: 46.35%;
    top: 193px;
    bottom: 88.54%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #000000; 
}

.underline_01_athlets{
    position: absolute;
    width: 19px;
    height: 5px;
    left: 52.55%;
    right: 46.46%;
    top: 218px;
    bottom: 88.06%;
    background: #603EBE;
    border-radius: 2.5px;
}

.Header_01_athlets{
    position: absolute;
    width: 239px;
    height: 42px;
    left: 54.17%;
    right: 33.39%;
    top: 188px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.5px;
    color: #C2C2C2;
}

.title_01_athlets{
    position: absolute;
    width: 601px;
    height: 28px;
    left: 52.5%;
    right: 16.2%;
    top: 261px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    
}

.topic02_athlets{
    position: absolute;
    width: 22px;
    height: 21px;
    left: 52.55%;
    right: 46.35%;
    top: 403px;
    bottom:  77.29%;;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #000000; 
}

.underline_02_athlets{
    position: absolute;
    width: 22px;
    height: 5px;
    left: 52.55%;
    right: 46.3%;
    top: 428px;
    bottom: 88.06%;
    background: #603EBE;
    border-radius: 2.5px;
}

.Header_02_athlets{
    position: absolute;
    width: 302px;
    height: 42px;
    left: 54.17%;
    right: 30.1%;
    top: 398px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.5px;
    color: #C2C2C2;
}

.title_02_athlets{
    position: absolute;
    width: 717px;
    height: 84px;
    left: 52.5%;
    right: 16.2%;
    top: 461px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.93px;
    line-height: 28px;
    color: #000000;
    
}

.topic03_athlets{
    position: absolute;
    width: 22px;
    height: 21px;
    left: 52.55%;
    right: 46.35%;
    top: 687px;
    bottom: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #000000; 
}

.underline_03_athlets{
    position: absolute;
    width: 22px;
    height: 5px;
    left: 52.55%;
    right: 46.46%;
    top: 712px;
    bottom: 88.06%;
    background: #FFFFFF;
    border-radius: 2.5px;
}

.Header_03_athlets{
    position: absolute;
    width: 159px;
    height: 42px;
    left: 54.17%;
    right: 33.39%;
    top: 681px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.5px;
    color: #C2C2C2;
}

.title_03_athlets{
    position: absolute;
    width: 717px;
    height: 56px;
    left: 52.5%;
    right: 16.2%;
    top: 744px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.93px;
    line-height: 28px;
    color: #000000;
    
}



.purple_bg { 
    position: absolute;
    width: auto;
    height: 302px;
    left: 0%;
    right: 0%;
    top: 596px;
    bottom: 51.9%;
    background: #5E3DB3;
}

.footballer_player{
    position: absolute;
    width: 678px;
    height: 950px;
    left: 175px;
    top: 35px;
}

.players{
    position: absolute;
    width: 375px;
    height: 105px;
    left: 16.72%;
    right: 63.75%;
    top: 1022px;
    font-weight: 400;
    font-size: 90px;
    line-height: 105px;
    color: #E7E7E7;
}

.topic01_players {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 16.77%;
    right: 82.08%;
    top: 1200px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #000000;
}

.underline_01_players{
    position: absolute;
    width: 19px;
    height: 5px;
    left: 16.82%;
    right: 82.19%;
    top: 1225px;
    bottom: 66.73%;
    background: #603EBE;
    border-radius: 2.5px;
}

.Header_01_players{
    position: absolute;
    width: 239px;
    height: 42px;
    left: 18.44%;
    right: 69.11%;
    top: 1195px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.5px;
    color: #C2C2C2;
}

.title_01_players{
    position: absolute;
    width: 571px;
    height: 56px;
    left: 16.77%;
    right: 53.49%;
    top: 1258px;
    bottom: 58.32%;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    
}

.topic02_players {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 16.77%;
    right: 82.08%;
    top: 1440px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #000000;
}

.underline_02_players{
    position: absolute;
    width: 22px;
    height: 5px;
    left: 16.82%;
    right: 82.03%;
    top: 1465px;
    bottom: 42.69%;
    background: #603EBE;
    border-radius: 2.5px;
}

.Header_02_players{
    position: absolute;
    width: 302px;
    height: 42px;
    left: 18.44%;
    right: 65.83%;
    top: 1435px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.5px;
    color: #C2C2C2;
}

.title_02_players{
    position: absolute;
    width: 717px;
    height: 28px;
    left: 16.77%;
    right: 45.89%;
    top: 1498px;
    bottom: 37.07%;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.65px;
    color: #000000;
}

.darkblue_bg{
    position: absolute;
    width: auto;
    height: 268px;
    left: 0%;
    right: 0%;
    top: 1628px;
    bottom: 0%;
    background: #090C35;
}

.topic03_players{
    position: absolute;
    width: 22px;
    height: 21px;
    left: 16.82%;
    right: 82.03%;
    top: 1721px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #8F6BE8;
}

.underline_03_players{
    position: absolute;
    width: 22px;
    height: 5px;
    left: 16.88%;
    right: 81.98%;
    top: 1746px;
    bottom: 14.53%;
    background: #FFFFFF;
    border-radius: 2.5px;
}

.Header_03_players{
    position: absolute;
    width: 159px;
    height: 42px;
    left: 18.49%;
    right: 73.23%;
    top: 1715px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.5px;
    color: #C2C2C2;
    
}

.title_03_players{
    position: absolute;
    width: 717px;
    height: 23px;
    left: 16.82%;
    right: 45.83%;
    top: 1778px;
    bottom: 9.52%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.65px;
    color: #FFFFFF;
}

.basketball_player{
    position: absolute;
    width: 991px;
    height: 815px;
    left: 41.88%;
    right: 6.51%;
    top: 896px;
    bottom: 18.34%;
}

@media (max-width: 768px) {
    .global{
        font-family: 'Roboto';
        font-style: normal;
    }

    .athlets {
        position: absolute;
        width: 378px;
        height: 105px;
        left: 291px;
        top: 81px;
        font-weight: 400;
        font-size: 90px;
        line-height: 105px;
        color: #E7E7E7;
    }

    .topic01_athlets {
        position: absolute;
        width: 22px;
        height: 21px;
        left: 291px;
        top: 225px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: #000000;
    }
    
    .underline_01_athlets{
        position: absolute;
        width: 19px;
        height: 5px;
        left: 292px;
        top: 250px;
        background: #603EBE;
        border-radius: 2.5px;
    }
    
    .Header_01_athlets{
        position: absolute;
        width: 239px;
        height: 42px;
        left: 323px;
        top: 220px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1.5px;
        color: #C2C2C2;
    }
    
    .title_01_athlets{
        position: absolute;
        width: 457px;
        height: 56px;
        left: 291px;
        top: 283px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
    }
    
    .topic02_athlets{
        position: absolute;
        width: 22px;
        height: 21px;
        left: 291px;
        top: 412px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: #000000;
    }
    
    .underline_02_athlets{
        position: absolute;
        width: 22px;
        height: 5px;
        left: 292px;
        top: 437px;
        background: #603EBE;
        border-radius: 2.5px;
    }
    
    .Header_02_athlets{
        position: absolute;
        width: 302px;
        height: 42px;
        left: 323px;
        top: 407px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1.5px;
        color: #C2C2C2;
    }
    
    .title_02_athlets{
        position: absolute;
        width: 446.2px;
        height: 112px;
        left: 291px;
        top: 470px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.837px;
        color: #000000;
    }
    
    .topic03_athlets{
        position: absolute;
        width: 22px;
        height: 21px;
        left: 291px;
        top: 648px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: #000000;
    }
    
    .underline_03_athlets{
        position: absolute;
        width: 22px;
        height: 5px;
        left: 292px;
        top: 673px;
        background: #FFFFFF;
        border-radius: 2.5px;
    }
    
    .Header_03_athlets{
        position: absolute;
        width: 159px;
        height: 42px;
        left: 323px;
        top: 642px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1.5px;
        color: #C2C2C2;
    }
    
    .title_03_athlets{
        position: absolute;
        width: 446.2px;
        height: 84px;
        left: 291px;
        top: 705px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.837px;
        color: #FFFFFF;
        
    }
    
    .purple_bg { 
        position: absolute;
        width: 768px;
        height: 207px;
        left: 0px;
        top: 612px;
        background: #5E3DB3;
    }
    
    .footballer_player{
        position: absolute;
        width: 498px;
        height: 699px;
        left: -161px;
        top: 121px;
    }

    .players{
        position: absolute;
        width: 375px;
        height: 105px;
        left: 31px;
        top: 871px;
        font-weight: 400;
        font-size: 90px;
        line-height: 105px;
        color: #E7E7E7;
    }
    
    .topic01_players {
        position: absolute;
        width: 22px;
        height: 21px;
        left: 33px;
        top: 1015px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: #000000;
    }
    
    .underline_01_players{
        position: absolute;
        width: 19px;
        height: 5px;
        left: 34px;
        top: 1040px;
        background: #603EBE;
        border-radius: 2.5px;
    }
    
    .Header_01_players{
        position: absolute;
        width: 239px;
        height: 42px;
        left: 65px;
        top: 1010px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1.5px;
        color: #C2C2C2;
    }
    
    .title_01_players{
        position: absolute;
        width: 432px;
        height: 84px;
        left: 33px;
        top: 1073px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
    }
    
    .topic02_players {
        position: absolute;
        width: 22px;
        height: 21px;
        left: 33px;
        top: 1223px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: #000000;
    }
    
    .underline_02_players{
        position: absolute;
        width: 22px;
        height: 5px;
        left: 34px;
        top: 1248px;
        background: #603EBE;
        border-radius: 2.5px;
    }
    
    .Header_02_players{
        position: absolute;
        width: 302px;
        height: 42px;
        left: 65px;
        top: 1218px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1.5px;
        color: #C2C2C2;
    }
    
    .title_02_players{
        position: absolute;
        width: 432px;
        height: 56px;
        left: 33px;
        top: 1281px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.93px;
        color: #000000;
    }
    
    .darkblue_bg{
        position: absolute;
        width: 768px;
        height: 207px;
        left: 0px;
        top: 1402px;
        background: #090C35;
    }
    
    .topic03_players{
        position: absolute;
        width: 22px;
        height: 21px;
        left: 33px;
        top: 1468px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: #8765DD;
    }
    
    .underline_03_players{
        position: absolute;
        width: 22px;
        height: 5px;
        left: 34px;
        top: 1493px;
        background: #FFFFFF;
        border-radius: 2.5px;
    }
    
    .Header_03_players{
        position: absolute;
        width: 159px;
        height: 42px;
        left: 65px;
        top: 1462px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1.5px;
        color: #C2C2C2;
    }
    
    .title_03_players{
        position: absolute;
        width: 455px;
        height: 56px;
        left: 33px;
        top: 1525px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.93px;
        color: #FFFFFF;
        
    }
    
    .basketball_player{
        position: absolute;
        width: 691px;
        height: 568px;
        left: 331px;
        top: 852px;
        
    }


}

@media (max-width: 320px) {
    .global{
        font-family: 'Roboto';
        font-style: normal;
    }

    .athlets {
        position: absolute;
        width: 210px;
        height: 59px;
        left: 19px;
        top: 0px;
        font-weight: 400;
        font-size: 50px;
        line-height: 59px;
        color: #E7E7E7;
    }

    .footballer_player{
        position: absolute;
        width: 200px;
        height: 281px;
        left: 70px;
        right: 0%;
        top: 70px;
        bottom: 0%;
    }

    .basketball_player{
        position: absolute;
        width: 302px;
        height: 249px;
        left: 3px;
        top: 681px;
    }

    .app_slider_div {
        width: 320px;
        height: 284px;
        margin-top: 296px;
        margin-bottom: -31px;
        background: #F5F4F9;
    }
      
    .app_slider_topic {
        position: absolute;
        font-weight: 400;
        font-size: 14px;
        margin-top: 79px;
        margin-left: 19px;
        line-height: 16px;
        letter-spacing: 1.5px;
        color: #000000;
    }

    .underline_athlets_mobile{
        position: absolute;
        width: 17px;
        height: 4px;
        margin-top: 97px;
        margin-left: 20px;
        background: #603EBE;
        border-radius: 2.5px;
    }

    .app_slider_header{
        position: absolute;
        width: 239px;
        height: 33px;
        margin-top: 72px;
        margin-left: 46px;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 1.5px;
        color: #C2C2C2;
    }
      
    .app_slider_content{
        position: absolute;
        width: 302px;
        height: 90px;
        margin-top:125px;
        margin-left: 19px;
        margin-bottom: 69px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.74px;
        color: #000000;
    }

    .players{
        position: absolute;
        width: 209px;
        height: 59px;
        left: 17px;
        top: 599px;
        font-weight: 400;
        font-size: 50px;
        line-height: 59px;
        color: #E7E7E7;
    }

    .app_slider_div_players{
        width: 320px;
        height: 238px;
        margin-top: 350px;
        margin-bottom: -31px;
        background: #F5F4F9;
    }
      
     
}
